/**
 * blog-web - v2.0.0-SNAPSHOT
 * https://github.com/shree-venkat
 */
/* BOOTSTRAP COLOR CODES */
.btn {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0) 100%);
  border-bottom-width: 3px;
  border-right-width: 2px;
}
.btn-default {
  background-color: #fff;
}
.btn-primary {
  background-color: #337ab7;
}
.btn-info {
  background-color: #41b3e2;
}
.btn-success {
  background-color: #5cb85c;
}
.btn-warning {
  background-color: #ff7900;
}
.btn-danger {
  background-color: #d9534f;
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  padding-top: 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 13px;
}
header {
  background-color: #0f6898;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  width: 100%;
  z-index: 1030;
  vertical-align: middle;
  text-align: center;
  padding: 5px;
}
.vendor-link-container {
  display: inline-block;
  background-color: #fff;
  font-size: 0.7em;
  -moz-border-radius: 5px 5px;
  -webkit-border-radius: 5px 5px;
  border-radius: 5px 5px;
  padding: 0 15px;
}
.vendor-link-container img {
  display: inline-block;
  margin: auto;
  padding: 0 3px;
}
nav.navbar {
  background: linear-gradient(to bottom, #0f6898, #0d5881, #0f6898);
  border-color: #0a486a;
  margin: auto;
  border-width: 1px;
  font-size: 1em;
  vertical-align: middle;
  top: 0px;
}
.navbar-header {
  padding: 5px;
}
.navbar-brand {
  color: #ccc !important;
}
.navbar-brand:hover,
.navbar-brand:focus {
  color: #fff !important;
}
.navbar-toggle {
  border: none;
}
.navbar-toggle .icon-bar {
  background-color: #ccc !important;
}
.navbar-toggle:hover,
.navbar-toggle:focus {
  background-color: transparent !important;
}
.navbar-toggle:hover .icon-bar,
.navbar-toggle:focus .icon-bar {
  background-color: #fff !important;
}
.navbar-nav {
  margin-top: 0;
  margin-bottom: 0;
}
.navbar-nav > li {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 5px;
  padding-bottom: 5px;
}
.navbar-nav > li > a {
  color: #ccc !important;
}
.navbar-nav > li:hover > a,
.navbar-nav > li:focus > a {
  background: none !important;
  color: #fff !important;
}
.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus {
  text-decoration: none;
  background: none !important;
  color: #fff !important;
}
.dropdown-menu {
  margin-top: 10px !important;
  padding-top: 6px;
  padding-bottom: 20px;
  -moz-border-radius: 5px 5px !important;
  -webkit-border-radius: 5px 5px !important;
  border-radius: 5px 5px !important;
  color: #ccc;
  background: linear-gradient(to bottom, #0f6898, #0d5881, #0f6898);
  border: 1px solid #0a486a;
  border-top-color: #0f6898;
  -webkit-box-shadow: 3px 3px 15px -5px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 3px 3px 15px -5px rgba(0, 0, 0, 0.8);
  box-shadow: 3px 3px 15px -5px rgba(0, 0, 0, 0.8);
}
.dropdown-menu li a {
  color: #ccc !important;
}
@media (min-width: 768px) {
  .dropdown-menu li a {
    text-align: left;
  }
}
.dropdown-menu li:hover a,
.dropdown-menu li:focus a {
  background: transparent !important;
  color: #fff !important;
}
@media (min-width: 768px) {
  .dropdown-menu:before {
    content: "";
    position: absolute;
    left: 45px;
    margin-left: -8px;
    top: -8px;
    border: 8px solid transparent;
    border-bottom-width: 8px;
    border-bottom-color: #0f6898;
    border-top: 0;
  }
}
main {
  height: 100%;
  width: 100%;
  margin-top: -5px;
  /*background: url("images/teal-gradient-bg.png") repeat-x;
    h3 {
        color: #fff;
    }*/
}
.page-banner-section {
  display: block;
  width: 100%;
  left: 0;
  right: 0;
  margin-top: 0;
  background: -moz-linear-gradient(to bottom, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 70%, rgba(255, 255, 255, 0.3) 100%);
  background: -webkit-linear-gradient(to bottom, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 70%, rgba(255, 255, 255, 0.3) 100%);
  background: -o-linear-gradient(to bottom, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 70%, rgba(255, 255, 255, 0.3) 100%);
  background: -ms-linear-gradient(to bottom, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 70%, rgba(255, 255, 255, 0.3) 100%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 70%, rgba(255, 255, 255, 0.3) 100%);
}
.page-banner-section .navbar-placeholder {
  position: fixed;
  z-index: 1050;
  width: calc(100vw - 17px);
}
.page-banner-section nav.navbar {
  margin-left: -50px;
  margin-right: -50px;
  padding-left: 50px;
  padding-right: 50px;
  -webkit-box-shadow: 3px 3px 15px -5px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 3px 3px 15px -5px rgba(0, 0, 0, 0.8);
  box-shadow: 3px 3px 15px -5px rgba(0, 0, 0, 0.8);
}
.page-banner {
  text-align: center;
  vertical-align: middle;
  margin: 0 auto;
  padding: 25px;
  min-height: 300px;
  padding-top: 100px;
}
.page-banner h1,
.page-banner h2,
.page-banner h3 {
  padding: 20px;
  margin: auto;
  text-align: center;
}
@media (min-width: 768px) {
  .page-banner h1,
  .page-banner h2,
  .page-banner h3 {
    width: 50%;
  }
}
.page-banner h4,
.page-banner h5,
.page-banner h6 {
  padding: 7px;
  margin: auto;
  text-align: center;
}
@media (min-width: 768px) {
  .page-banner h4,
  .page-banner h5,
  .page-banner h6 {
    width: 75%;
  }
}
.gradient-background {
  background: -moz-linear-gradient(-74deg, transparent 91%, rgba(255, 255, 255, 0.25) 20%), -moz-linear-gradient(-74deg, transparent 85%, rgba(255, 255, 255, 0.21) 15%), -moz-linear-gradient(-74deg, transparent 79%, rgba(255, 255, 255, 0.17) 15%), -moz-linear-gradient(-74deg, transparent 73%, rgba(255, 255, 255, 0.13) 15%), -moz-linear-gradient(-74deg, transparent 67%, rgba(255, 255, 255, 0.09) 15%), -moz-linear-gradient(-74deg, transparent 61%, rgba(255, 255, 255, 0.04) 15%), -moz-linear-gradient(to bottom, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 70%, rgba(255, 255, 255, 0.3) 100%);
  background: -webkit-linear-gradient(-74deg, transparent 91%, rgba(255, 255, 255, 0.25) 20%), -webkit-linear-gradient(-74deg, transparent 85%, rgba(255, 255, 255, 0.21) 15%), -webkit-linear-gradient(-74deg, transparent 79%, rgba(255, 255, 255, 0.17) 15%), -webkit-linear-gradient(-74deg, transparent 73%, rgba(255, 255, 255, 0.13) 15%), -webkit-linear-gradient(-74deg, transparent 67%, rgba(255, 255, 255, 0.09) 15%), -webkit-linear-gradient(-74deg, transparent 61%, rgba(255, 255, 255, 0.04) 15%), -webkit-linear-gradient(to bottom, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 70%, rgba(255, 255, 255, 0.3) 100%);
  background: -o-linear-gradient(-74deg, transparent 91%, rgba(255, 255, 255, 0.25) 20%), -o-linear-gradient(-74deg, transparent 85%, rgba(255, 255, 255, 0.21) 15%), -o-linear-gradient(-74deg, transparent 79%, rgba(255, 255, 255, 0.17) 15%), -o-linear-gradient(-74deg, transparent 73%, rgba(255, 255, 255, 0.13) 15%), -o-linear-gradient(-74deg, transparent 67%, rgba(255, 255, 255, 0.09) 15%), -o-linear-gradient(-74deg, transparent 61%, rgba(255, 255, 255, 0.04) 15%), -o-linear-gradient(to bottom, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 70%, rgba(255, 255, 255, 0.3) 100%);
  background: -ms-linear-gradient(-74deg, transparent 91%, rgba(255, 255, 255, 0.25) 20%), -ms-linear-gradient(-74deg, transparent 85%, rgba(255, 255, 255, 0.21) 15%), -ms-linear-gradient(-74deg, transparent 79%, rgba(255, 255, 255, 0.17) 15%), -ms-linear-gradient(-74deg, transparent 73%, rgba(255, 255, 255, 0.13) 15%), -ms-linear-gradient(-74deg, transparent 67%, rgba(255, 255, 255, 0.09) 15%), -ms-linear-gradient(-74deg, transparent 61%, rgba(255, 255, 255, 0.04) 15%), -ms-linear-gradient(to bottom, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 70%, rgba(255, 255, 255, 0.3) 100%);
  background: linear-gradient(-74deg, transparent 91%, rgba(255, 255, 255, 0.25) 20%), linear-gradient(-74deg, transparent 85%, rgba(255, 255, 255, 0.21) 15%), linear-gradient(-74deg, transparent 79%, rgba(255, 255, 255, 0.17) 15%), linear-gradient(-74deg, transparent 73%, rgba(255, 255, 255, 0.13) 15%), linear-gradient(-74deg, transparent 67%, rgba(255, 255, 255, 0.09) 15%), linear-gradient(-74deg, transparent 61%, rgba(255, 255, 255, 0.04) 15%), linear-gradient(to bottom, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 70%, rgba(255, 255, 255, 0.3) 100%);
  /*background: url("images/teal-gradient-bg.png") repeat-x;
    background-size: 100%;*/
  /*background: url("images/blue-purple-gradient-bg.png") repeat-y;
    background-size: 100%;*/
}
@media (max-width: 767px) {
  .gradient-background {
    background: -moz-linear-gradient(to bottom, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 70%, rgba(255, 255, 255, 0.3) 100%);
    background: -webkit-linear-gradient(to bottom, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 70%, rgba(255, 255, 255, 0.3) 100%);
    background: -o-linear-gradient(to bottom, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 70%, rgba(255, 255, 255, 0.3) 100%);
    background: -ms-linear-gradient(to bottom, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 70%, rgba(255, 255, 255, 0.3) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 70%, rgba(255, 255, 255, 0.3) 100%);
  }
}
.color-primary {
  color: #fff;
  background-color: #56b4d9;
  transition: all 1s ease-in-out;
}
.color-2 {
  color: #fff;
  background-color: #a4d703;
  transition: all 1s ease-in-out;
}
.color-3 {
  color: #fff;
  background-color: #ff6c36;
  transition: all 1s ease-in-out;
}
.color-4 {
  color: #fff;
  background-color: #b300b3;
  transition: all 1s ease-in-out;
}
.container-fixed {
  width: calc(100vw - 17px);
}
.body-and-footer {
  min-height: 100%;
  position: relative;
  width: calc(100vw - 17px);
}
/* Set padding to keep content from hitting the edges */
.body-content {
  padding: 15px 15px 40px 15px;
}
.row {
  margin-left: 0;
  margin-right: 0;
}
footer {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60px;
  width: 100%;
  z-index: 1030;
  padding-top: 20px;
  font-size: 0.8em;
}
.line-underscore {
  display: block;
  width: 100%;
  border-top: 1px solid #888;
  border-bottom: 1px solid #aaa;
  margin-bottom: 20px;
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
  white-space: normal;
}
/* Set width on the form input elements since they're 100% wide by default */
/* MULTI-PAGE */
/* INDEX PAGE */
.carousel-body {
  width: 100%;
  height: 300px;
  color: #fff;
}
.carousel-body > h1 {
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.carousel-control.left {
  background: none;
  /*border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;*/
}
.carousel-control.right {
  background: none;
  /*border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;*/
}
.panel-body,
.panel-body p {
  text-align: justify;
}
.blog-menu {
  color: #eee;
  background: linear-gradient(to bottom, #0d5881, #0f6898, #0d5881);
  border-radius: 5px;
  margin-top: 20px;
  padding: 20px;
}
.title {
  color: #56b4d9;
}
.highlight {
  color: #fff !important;
  background-color: #91be02;
}
.search-button {
  background-color: #fff;
  cursor: pointer;
}
#blog-menu-archives button,
#blog-menu-categories button {
  margin-top: 30px;
  padding: 0;
}
#blog-menu-archives .btn-default,
#blog-menu-categories .btn-default {
  border: 1px solid #ccc !important;
}
#blog-menu-archives .button-text,
#blog-menu-categories .button-text {
  float: left;
  padding: 5px 5px 5px 15px;
}
#blog-menu-archives .caret-holder,
#blog-menu-categories .caret-holder {
  float: right;
  padding: 5px 15px;
  border-left: 1px solid #ccc;
}
#blog-menu-archives .dropdown-menu,
#blog-menu-categories .dropdown-menu {
  background: darkslategrey;
}
@media (min-width: 768px) {
  #blog-menu-archives .dropdown-menu:before,
  #blog-menu-categories .dropdown-menu:before {
    border-bottom-color: darkslategrey;
  }
}
#blog-menu-archives ul li:hover,
#blog-menu-categories ul li:hover {
  color: #fff !important;
  background-color: #91be02;
}
#blog-menu-archives ul li a,
#blog-menu-categories ul li a {
  padding-top: 5px;
  padding-bottom: 5px;
}
#blog-menu-archives ul li a:hover,
#blog-menu-categories ul li a:hover {
  color: #fff !important;
  background-color: #91be02;
}
#blog-menu-tags {
  margin: 25px 0;
  padding: 5px;
}
.category {
  color: #fff;
  background-color: #999;
  margin: 2px;
  padding: 2px 5px;
  border-radius: 2px;
  font-size: 0.8em;
  font-weight: bold;
}
.category:hover,
.category:focus {
  text-decoration: none;
  color: #f5f5f5;
  background-color: #91be02;
}
.selected-category {
  color: #eee;
  background-color: #91be02 !important;
  padding: 5px 8px !important;
}
.selected-category:hover,
.selected-category:focus {
  color: #eee;
  background-color: #7da402 !important;
}
.selected-category:after {
  margin-left: 8px;
  margin-right: 2px;
  font-size: 0.8em;
  font-weight: bold;
  content: 'X';
}
.selected {
  color: #eee;
  background-color: #91be02 !important;
  padding: 5px 8px !important;
  border-radius: 2px;
}
.selected:hover,
.selected:focus {
  color: #eee;
  background-color: #7da402 !important;
  text-decoration: none;
}
.selected:after {
  margin-left: 8px;
  margin-right: 2px;
  font-size: 0.8em;
  font-weight: bold;
  content: 'X';
}
.size-lg {
  padding: 10px 20px !important;
  font-size: 1.1em !important;
}
.size-md {
  padding: 5px 10px !important;
  font-size: 0.9em !important;
}
.size-sm {
  padding: 2px 5px !important;
}
.size-xs {
  padding: 0 3px !important;
  font-size: 0.6em !important;
}
.tag-link {
  color: #f5f5f5;
  background-color: #999;
  margin: 2px;
  padding: 2px 5px;
  border-radius: 2px;
  font-size: 0.8em;
  font-weight: bold;
  display: inline-block;
}
.tag-link:hover,
.tag-link:focus {
  color: #f5f5f5;
  text-decoration: none;
  background-color: #91be02;
}
.highlight-search-term {
  opacity: 0.8;
  background-color: yellow;
}
#no-posts-message {
  margin-top: 20px;
  padding: 20px;
  background-color: #fcf8e3;
  color: #8a6d3b;
  border: 2px solid #faebcc;
  border-radius: 6px;
}
.blog-content {
  padding: 0 0 20px 0;
  text-align: justify;
  border-top: 0px dotted #777;
  border-bottom: 1px dotted #777;
}
.blog-content p {
  padding: 5px 0;
}
.blog-content div {
  padding: 5px 0;
}
.blog-content h4 {
  padding-top: 10px;
  font-weight: bold;
}
.blog-content img {
  max-width: 90% !important;
}
.blog-content pre,
.blog-content code {
  margin: 15px 0;
  padding: 10px 30px;
}
.blog-content .CSharp .type {
  color: #2b91af;
}
.blog-content .CSharp .keyword {
  color: #00f;
}
.blog-content .CSharp .literal {
  color: #a00;
}
.blog-content .CSharp .comment {
  color: #090;
}
.blog-content .CSharp .comment .type {
  color: #090;
}
.blog-content .CSharp .comment .keyword {
  color: #090;
}
.blog-content .CSharp .comment .literal {
  color: #090;
}
.new-comment-section {
  padding: 20px;
  background-color: #f5f5f5;
  border-left: 7px solid #ccc;
}
.comment-history {
  padding-top: 20px;
  margin: 20px 0;
  border-top: 0px dotted #777;
}
.comment-history .comment {
  margin: 20px 0;
  padding: 10px 20px 10px 10px;
  border-left: 7px solid #ccc;
  background-color: #f5f5f5;
}
.comment-history .comment .name {
  font-weight: bold;
}
.comment-history .comment .name a {
  color: #333;
}
.comment-history .comment .name a:hover,
.comment-history .comment .name a:focus {
  color: #333;
  text-decoration: none;
}
.comment-history .comment .name:after {
  font-weight: normal;
  content: ' said:';
}
.comment-history .comment .content {
  padding: 10px;
}
.comment-history .comment .timestamp {
  padding-top: 8px;
  font-size: 0.8em;
}
#work-in-progress {
  display: none;
  position: fixed;
  top: 48%;
  left: 48%;
  z-index: 1200;
}
#work-in-progress span {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 0;
}
#work-in-progress i {
  color: #eee;
}
#work-in-progress div {
  color: #333;
  margin-left: -50px;
  font-weight: bold;
}
/* Styles for table
-----------------------------------------------------------*/
table {
  width: 100%;
}
table thead > tr {
  background-color: #f5f5f5;
  color: #333;
  border-bottom: 3px solid #aaa;
}
table thead > tr th {
  padding: 18px 18px 18px 12px;
}
table tbody {
  background-color: #fff;
  color: #333;
}
table tbody > tr {
  border-bottom: 1px solid #999;
}
table tbody > tr td {
  padding: 12px 18px 12px 12px;
}
table tbody > tr td a {
  color: #333;
}
table tbody > tr:hover {
  background-color: #f5f5f5;
}
.form-control {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 13px;
}
/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
  color: #d00;
}
.field-validation-valid {
  display: none;
}
.input-validation-error {
  border: 1px solid #d00;
}
.validation-summary-errors {
  color: #d00;
}
.validation-summary-errors ul {
  padding-left: 0;
}
.validation-summary-errors ul li {
  list-style-type: none;
  padding-left: 0;
}
.validation-summary-valid {
  display: none;
}
