<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
  </connectionStrings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>

  <log4net>
    <appender>
      <file value="G:\PleskVhosts\guruin.net\httpdocs\Log\GuruInServerLog.txt"
            xdt:Transform="Replace"
            xdt:Locator="Condition(../@name='GuruInServerLog')" />
      <file value="G:\PleskVhosts\guruin.net\httpdocs\Log\GuruInClientLog.txt"
            xdt:Transform="Replace"
            xdt:Locator="Condition(../@name='GuruInClientLog')" />
    </appender>
  </log4net>
</configuration>
