<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="BlogDbConnection"
      connectionString="qwerty"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>

  <log4net>
    <appender>
      <file value="G:\PleskVhosts\guruin.net\httpdocs\Log\BlogLogger.txt"
            xdt:Transform="Replace"
            xdt:Locator="Condition(../@name='BlogLogger')" />
    </appender>
  </log4net>
</configuration>